# Pare este código funcionar, tive que comentar a sessão [interpreter]
# e modificar run para "scrapy runspider main.py"

# The command that runs the program. If the interpreter field is set, it will have priority and this run command will do nothing
# -O cria arquivo de saida e reescreve por cima
run = "scrapy runspider main.py -O saida.csv"

# The primary language of the repl. There can be others, though!
#language = "python3"
#entrypoint = "main.py"
# A list of globs that specify which files and directories should
# be hidden in the workspace.
hidden = ["venv", ".config", "**/__pycache__", "**/.mypy_cache", "**/*.pyc"]
modules = ["python-3.10"]

# Specifies which nix channel to use when building the environment.
[nix]
channel = "stable-22_11"
packages = ["gdb"]

# The command to start the interpreter.
# [interpreter]
#   [interpreter.command]
#     args = [
#       "stderred",
#       "--",
#       "prybar-python310",
#       "-q",
#       "--ps1",
#       "\u0001\u001b[33m\u0002\u0001\u001b[00m\u0002 ",
#       "-i",
#     ]
#     env = { LD_LIBRARY_PATH = "$PYTHON_LD_LIBRARY_PATH" }

[env]
POETRY_INSTALLER_MODERN_INSTALLATION = "0"

# Enable unit tests. This is only supported for a few languages.
[unitTest]
language = "python3"

# These are the files that need to be preserved when this 
# language template is used as the base language template
# for Python repos imported from GitHub
[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config", "venv"]

[deployment]
run = ["sh", "-c", "scrapy runspider main.py"]
